{% extends 'BcGitHubStarsBundle:default:layout.html.twig' %}
{% block body %}
    <h1>About</h1>

    <div id="about_description">
        <p>Welcome to the demo of BC GitHubStars Bundle</p>
        <p>BC GitHubStarsBundle and Demo was created by <a href="https://brookinsconsulting.com">Brookins Consulting</a></p>
        <p>To test the demo view the repository <a href="/repository/list">list</a>.</p>
        <p>Feel free to fork these reporitories and use them! <a href="https://github.com/brookinsconsulting/bcgithubstars">BcGitHubStars</a> and <a href="https://github.com/brookinsconsulting/bcgithubstarsdemo">BcGitHubStarsDemo</a></p>
    </div>
{% endblock %}